::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #393939;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #505050;
}
body {
  background: #393939;
  color: #F1F1F1;
  margin: 0px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  border: 0px solid;
  border-radius: 10px;
  max-height: 94vh;
}

img {border-radius: 10px;}
pre {margin-bottom: 0px;margin-top: 0px;}

/* Цвета ссылок */
a:link    {color: #539bf5;}
a:active  {color: #6ba4e9;}
a:visited {color: #539bf5;}

/* Таблицы */
table thead tbody tr {max-width: min-content;}
th {
  padding: 10px 15px;
  background-color: #46494b;
  max-width: min-content;
}
td {
  border-top: 1px solid #46494b;
  padding: 10px 15px;
  background-color: #3c3f41;
  max-width: min-content;
}
th:first-child {border-top-left-radius: .375rem;}
th:last-child {border-top-right-radius: .375rem;}
tr:last-child td:first-child {border-bottom-left-radius: .375rem;}
tr:last-child td:last-child {border-bottom-right-radius: .375rem;}
tr:hover td {background: #46494b;}
td > code {background-color: #676767;color: #b8b8b8;}
th > code {background-color: #676767;color: #b8b8b8;}

code {
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  overflow-y:auto;
  border-radius: 5px;
  background-color: #474747;
  cursor: pointer;
}

code:active {background-color: #373737;}

blockquote {
  background-color: #525252;
  padding: 0px 20px 0px 20px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: auto;
}


/* Контейнер с кнопками выбора темы */
.cheatsheet-buttons {
  display: flex;
  flex-direction: row;
  border: 0px solid;
  border-radius: 10px 0px 0px 10px;
  height: 89vh;
  width: 300px;
  background-color: #191919;
  padding: 15px;
  flex-direction: column;
  overflow-y: auto;
}

/* Папка с кнопками */
.button-folder {
  /*height: max-content;*/
  width: 0px; /*//initial; //max-content;*/
  border: 0px solid;
  border-radius: 10px;
  padding-left: 10px;
  background-color: #505050; /*//#AFB1B3; //#343434;*/
  color: #AAAAAA;
  margin: -3px 0px 3px 2px;
}

/* Кнопки выбора темы */
.button {
  max-width: 350px;
  font-size: 1em;
  display: flex;
  align-items: center;
  margin: 6px 0;
  margin-top: 0;
  padding: 0 20px;
  padding-left: 10px;
  min-height: 45px;
  border: 1px solid #2B2B2B;
  border-radius: 10px;
  background-color: #323232;
  color: #AFB1B3;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}
.button:hover {background-color: #424242;}
.button:active {background-color: #525252; transform: translateY(2px);}
.button:focus {background-color: #999999;color: #252525;}

/* Поле в котором появляется шпаргалка */
.cheatsheet-field {
  display: flex;
  width: 100%;
  border: 0px solid;
  padding: 20px;
  background-color: #2B2B2B;
  color: #AAAAAA;
  font-size: 12px;
  margin: 0px 0px 0px 0px;
  overflow-y: auto;
  flex-direction: column;
}

/* Кнопки управления справа */
.control-button {
  height: 64px;
  width: 64px;
  font-size: 1em;
  display: flex;
  align-items: center;
  margin: 0px 0px 4px 8px;
  min-height: 45px;
  border: 1px solid #2B2B2B;
  border-radius: 10px;
  background-color: #525252;
  color: #AFB1B3;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}
.control-button:hover {background-color: #424242;}
.control-button:active {background-color: #323232;}


/* Элемент с кодом внутри */
.code-element {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin-bottom:1rem;
  border-radius:.375rem;
}

/* Полоска вверху элемента code-element с языком и кнопкой для копирования */
.lang-line {
  height: max-content;
  border-radius:.375rem .375rem .0rem .0rem;
  display:flex;
  align-items:center;
  position:relative;
  color:rgba(217,217,227,1);
  background-color:rgba(52,53,65,1);
  padding-left:1rem;padding-right:1rem;
  padding-bottom:.35rem;padding-top:.35rem;
  font-size:.75rem;line-height:.75rem;
  font-family:Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,
  sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

/* Кнопка для копирования кода */
.copy-button {
  display:flex;
  margin-left:auto;
  gap:.5rem;
  background-color:rgba(52,53,65);
  border:0;
  color:#D9D9E3;
  cursor: pointer;
}
.copy-button-2 {
  display: flex;        /* Устанавливаем отображение элемента как flex-контейнера */
  gap: 0.5rem;          /* Устанавливаем расстояние между дочерними элементами внутри контейнера */
  background-color: rgba(52, 53, 65); /* Устанавливаем цвет фона кнопки с использованием RGBA (красный: 52, зеленый: 53, синий: 65, прозрачность: полная) */
  border: 0;            /* Устанавливаем границу элемента (в данном случае, кнопки) */
  color: #D9D9E3;       /* Устанавливаем цвет текста кнопки */
  cursor: pointer;      /* Устанавливаем курсор мыши в виде указателя, чтобы обозначить, что элемент является интерактивным */

}


/* Код */
.code {
  padding: 1rem 1rem 1rem 1rem;
  background-color: #1B1B1B;
  border-radius:.0rem .0rem .375rem .375rem;
  background-color: #272727;
}

/* Подсветка синтаксиса */
.k, .ow, .kn, .si, .se, .kd, .kc {color:#CC7832;} /* Ключевые слова */
.s, .s1, .s2, .sa, .sd {color:#529755!important;} /* Текст */
.c1, .cp, .cpf {color:hsla(0,0%,100%,.5)} /* Коммент */
.m, .mi, .mf {color:#5897BB;} /* Число */
.nb, .kt {color:#8888C6;} /* Дефолтные функции */
.fm {color:#B200B2;} /* Магические методы */
.bp {color:#94558D;} /* Self */
.nd {color:#BBB529;} /* Декоратор */
.nf {color:#FFC66D;} /* Название функции */
/*.na {color:#AA4926;}  Аргумент


/*
.cheatsheet-field div.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}*/



.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.popup-container {
  background-color: #3c3f41;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  max-width: 270px;
  max-height: 500px;
  padding: 10px;
  background-color: #f1f1f1;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


/*
Контейнер список для поиска
Контейнер поискового результата
*/
.search-container {
  display: flex;
  max-width: 350px;
  min-height: 45px;
  font-size: 1em;
  margin-bottom: 6px;
  background-color: #323232;
  border-radius: 10px;
}
.search-input {
  max-width: 350px;
  font-size: 16px;
  max-width: 350px;
  display: flex;
  padding: 0 20px;
  padding-left: 10px;
  border: 1px solid #2B2B2B;
  border-radius: 10px;
  background-color: #323232;
  color: #AFB1B3;
  width: 100%;
  height: 100%;
}


.button {
  max-width: 350px;
  font-size: 1em;
  display: flex;
  align-items: center;
  margin: 6px 0;
  margin-top: 0;
  padding: 0 20px;
  padding-left: 10px;
  min-height: 45px;
  border: 1px solid #2B2B2B;
  border-radius: 10px;
  background-color: #323232;
  color: #AFB1B3;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}