<h3>Базовый синтаксис</h3>
<!--{% raw %}-->
<ul>
<li><strong>Вывод переменных</strong>: <code>{{ variable }}</code> — используется для вывода значения переменной в шаблоне.</li>
<li><strong>Фильтры</strong>: <code>{{ variable | filter }}</code> — фильтры применяются к переменным для изменения их значения перед выводом.
Например, <code>{{ name | upper }}</code> выводит значение переменной name в верхнем регистре.</li>
<li><strong>Команды</strong>: <code>{% command %}</code> — используется для управления логикой в шаблоне.
Например, <code>{% for item in list %}...{% endfor %}</code> для циклов, <code>{% if condition %}...{% endif %}</code> для условий.</li>
<li><strong>Комментарии</strong>: <code>{# comment #}</code> — используется для добавления комментариев, которые не отображаются в конечном выводе.</li>
</ul>
<!--{% endraw %}-->